<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codekk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OpaSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RecommendSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReadmeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OpSearchActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>